* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    height: 5rem;
    width: 100vw;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    z-index: 7;
}

.logo a{
    cursor: pointer;
}

.logo img {
    height: 5rem;
    width: 11rem;
}

.nav-links {
    display: flex;
    list-style-type: none;
    width: 88vw;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links li a {
    text-decoration-line: none;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    color: #f2f5f7;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #f2f5f7;
    margin: 5px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.hamburger {
    display: none;
}



@media screen and (max-width: 800px) {

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition-property: all;
        transition-duration: 0.7s;
        transition-timing-function: ease;
    }

    .nav-links {
        position: absolute;
        background-color: mediumpurple;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }

    /* select .nav-links and .open in same class attribute */
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0.1s;
    }

    .nav-links li:nth-child(2) {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0.2s;
    }

    .nav-links li:nth-child(3) {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0.3s;
    }

    .nav-links li:nth-child(4) {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0.4s;
    }

    .nav-links li:nth-child(5) {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0.5s;
    }

    li.fade {
        opacity: 1;
    }
}

    /* Animating Hamburger Icon on Click */
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        width: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }